fdelahaye/editor/document_root/examples/epad/content/basex/webapp/static/editor/examples/XIncludes/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="article">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Article</xopus:name>
          <xopus:name xml:lang="nl">Artikel</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="header" />
          <xs:element ref="subheader" />
          <xs:element ref="paragraph" />
          <xs:element ref="table"/>
          <xs:element ref="unorderedlist"/>
          <xs:element ref="orderedlist"/>
        </xs:choice>
        <xs:element ref="footer"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="title" type="plainText">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Title</xopus:name>
          <xopus:name xml:lang="nl">Titel</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="header" type="inlineInsideType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Header</xopus:name>
          <xopus:name xml:lang="nl">Kop</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="subheader" type="inlineInsideType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Subheader</xopus:name>
          <xopus:name xml:lang="nl">Subkop</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="paragraph">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Paragraph</xopus:name>
          <xopus:name xml:lang="nl">Alinea</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="inlineInsideType">
          <xs:attribute name="align" type="alignType" default="left">
            <xs:annotation>
              <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
                <xopus:documentation>
                  <xopus:name xml:lang="en">Alignment</xopus:name>
                  <xopus:name xml:lang="nl">Uitlijning</xopus:name>
                </xopus:documentation>
              </xs:appinfo>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="footer" type="plainText">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Footer</xopus:name>
          <xopus:name xml:lang="nl">Staart</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
      
  <xs:element name="emphasis" type="inlineInsideType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Emphasis</xopus:name>
          <xopus:name xml:lang="nl">Nadruk</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="strong" type="inlineInsideType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Strong Emphasis</xopus:name>
          <xopus:name xml:lang="nl">Sterke Nadruk</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="underline" type="inlineInsideType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Underline</xopus:name>
          <xopus:name xml:lang="nl">Onderstreept</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="subscript" type="inlineInsideType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Subscript</xopus:name>
          <xopus:name xml:lang="nl">Subscript</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="superscript" type="inlineInsideType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Superscript</xopus:name>
          <xopus:name xml:lang="nl">Superscript</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="linebreak">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Line Break</xopus:name>
          <xopus:name xml:lang="nl">Regel Einde</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType />
  </xs:element>

  <xs:complexType name="plainText" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="subscript"/>
      <xs:element ref="superscript"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="inlineInsideType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="strong"/>
      <xs:element ref="emphasis"/>
      <xs:element ref="underline"/>
      <xs:element ref="subscript"/>
      <xs:element ref="superscript"/>
      <xs:element ref="linebreak"/>
    </xs:choice>
  </xs:complexType>

  <xs:element name="unorderedlist" type="listType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Unordered List</xopus:name>
          <xopus:name xml:lang="nl">Ongesorteerde Lijst</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="orderedlist" type="listType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Ordered List</xopus:name>
          <xopus:name xml:lang="nl">Gesorteerde Lijst</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element name="item" type="listItemType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Item</xopus:name>
              <xopus:name xml:lang="nl">Item</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="listItemType">
    <xs:sequence>
      <xs:element ref="paragraph" />
      <xs:group ref="list" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:group name="list">
    <xs:choice>
      <xs:element ref="unorderedlist" />
      <xs:element ref="orderedlist" />
    </xs:choice>
  </xs:group>  

  <xs:element name="table" type="tableType">
    <xs:annotation>
      <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
        <xopus:documentation>
          <xopus:name xml:lang="en">Table</xopus:name>
          <xopus:name xml:lang="nl">Tabel</xopus:name>
        </xopus:documentation>
      </xs:appinfo>
    </xs:annotation>  
  </xs:element>

  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element name="caption" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Caption</xopus:name>
              <xopus:name xml:lang="nl">Tabel Titel</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="tbody" type="tbodyType">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Table Body</xopus:name>
              <xopus:name xml:lang="nl">Tabel Romp</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="width" type="xs:positiveInteger" default="50" use="optional">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Width</xopus:name>
            <xopus:name xml:lang="nl">Breedte</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="border" type="borderType" use="optional" default="cell">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Borders</xopus:name>
            <xopus:name xml:lang="nl">Randen</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="color" type="colorSchemesType" default="grey">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Color Scheme</xopus:name>
            <xopus:name xml:lang="nl">Kleurenschema</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alternaterowcolor" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Alternate Row Colors</xopus:name>
            <xopus:name xml:lang="nl">Afwisselende Rijkleuren</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cellspacing" type="xs:nonNegativeInteger" default="0" use="optional">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Space Between Cells</xopus:name>
            <xopus:name xml:lang="nl">Ruimte Tussen Cellen</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cellpadding" default="0" use="optional">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Space In Cells</xopus:name>
            <xopus:name xml:lang="nl">Ruimte Binnen Cellen</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:nonNegativeInteger">
          <xs:maxInclusive value="32"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="tbodyType" mixed="false">
    <xs:sequence>
      <xs:element name="tr" type="trType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Row</xopus:name>
              <xopus:name xml:lang="nl">Rij</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="trType" mixed="false">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="td" type="tdType">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Cell</xopus:name>
              <xopus:name xml:lang="nl">Cel</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="th" type="tdType">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Header Cell</xopus:name>
              <xopus:name xml:lang="nl">Kop Cel</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="tdType" mixed="false">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="paragraph" />
      <xs:element ref="unorderedlist" />
      <xs:element ref="orderedlist" />
    </xs:choice>
    <xs:attribute name="colspan" type="xs:positiveInteger" use="optional" default="1">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Column Span</xopus:name>
            <xopus:name xml:lang="nl">Kolom Bereik</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>    
    <xs:attribute name="rowspan" type="xs:positiveInteger" use="optional">
      <xs:annotation>
        <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
          <xopus:documentation>
            <xopus:name xml:lang="en">Row Span</xopus:name>
            <xopus:name xml:lang="nl">Rij Bereik</xopus:name>
          </xopus:documentation>
        </xs:appinfo>
      </xs:annotation>
    </xs:attribute>    
  </xs:complexType>

  <xs:simpleType name="borderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">No Border</xopus:name>
              <xopus:name xml:lang="nl">Geen Randen</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="row">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Borders Under Rows</xopus:name>
              <xopus:name xml:lang="nl">Randen Onder Rijen</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="column">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Borders Next To Columns</xopus:name>
              <xopus:name xml:lang="nl">Randen Naast Kolomen</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="cell">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Borders Around Each Cell</xopus:name>
              <xopus:name xml:lang="nl">Randen Om Elke Cel</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="colorSchemesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="blue">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Blue</xopus:name>
              <xopus:name xml:lang="nl">Blauw</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="green">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Green</xopus:name>
              <xopus:name xml:lang="nl">Groen</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="orange">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Orange</xopus:name>
              <xopus:name xml:lang="nl">Oranje</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="grey">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Grey</xopus:name>
              <xopus:name xml:lang="nl">Grijs</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="alignType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Align Left</xopus:name>
              <xopus:name xml:lang="nl">Links Uitlijnen</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="center">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Center</xopus:name>
              <xopus:name xml:lang="nl">Centreren</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="right">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Align Right</xopus:name>
              <xopus:name xml:lang="nl">Rechts Uitlijnen</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
      <xs:enumeration value="justify">
        <xs:annotation>
          <xs:appinfo xmlns:xopus="http://www.xopus.com/xmlns/xsd">
            <xopus:documentation>
              <xopus:name xml:lang="en">Justify</xopus:name>
              <xopus:name xml:lang="nl">Uitvullen</xopus:name>
            </xopus:documentation>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>      
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
